.container{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.btn{
    padding: 5px;
    width: 40px;
    border-radius: 8px;
    border: none;
    height: 40px;
}
.activeBtn{
    background-color: #58a6ff;
}